body, html {
	margin: 0;
	padding: 0;
}
body {
	background-color: #1F1F1F;
	color: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
}

#character_picker {
	width: 100%;
	max-width: 650px;
	margin: auto;
	text-align: center;
}

#character_display {
	font-size: 1.3em;
}

#move_display {
	font-size: 1em;
}

#selectAtt {
	background-color: #1F1F1F;
	color: #FFF;
	font-size: 1em;
	border: solid 1px #666;
}
#selectAtt:hover {
	box-shadow: 0 0 6px rgba(255,255,255,0.4);
}

#videoPlayer {
	width: 100%;
	max-width: 480px;
	margin-top: 10px;
}

#play_controls {
	width: 480px;
	text-align: center;
	line-height: 2;
	font-size: 18px;
}
#play_controls input {
	color: #FFF;
	background-color: transparent;
	border: solid 1px #666;
	font-size: 18px;
	text-align: center;
}
#play_controls input[type="button"] {
	background-color: #434343;
}

#links {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 10px 20px;
	background-color: #2d2d2d;
}

.link_inline {
	/*font-family: SmashFont;*/
	display: block;
	color: #CCC;
	cursor: pointer;
	font-size: 16px;
	line-height: 1.7;
	text-decoration: none;
}

.link_inline:hover {
	color: #FFF;
}

@media (max-width: 1000px) {
	#links, #p1 { /* this stuff is relatively unimportant */
		display: none;
	}
	#character_picker {
		max-width: 400px;
	}
	#character_picker img {
		width: 60px;
		height: 60px;
	}
	#display_container {
		box-sizing: border-box;
		margin: 0 !important;
		padding: 0 10px;
		width: 100% !important;
	}
	#play_controls {
		width: 100%;
		font-size: 14px;
	}
	#play_controls input {
		font-size: 14px;
	}
}
